body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  border-bottom: 1px solid #e8e8e8;
  margin: 20px auto;
  padding-bottom: 15px;
}

.logo {
  display: flex;
  font-size: 1rem;
}

.img {
  margin: 0 2rem 0 2rem;
  width: 80px;
  height: 80px;
}

.title {
  font-size: 2.5rem;
}

.link {
  margin: 0 1rem 0 1rem;
}

.profile {
  border-left: 2px solid #a7a7a7;
  padding-left: 15px;
}

.selected {
  text-decoration: underline;
}

.Rocket-Container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 0;
}

.Rocket-Img {
  width: 20%;
  height: 30%;
  background-color: #000;
  color: #fff;
  margin-right: 20px;
}

.Rocket-Info {
  width: 65%;
}

.Rocket-Title {
  margin-top: 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.Rocket-Text {
  font-size: 0.8rem;
  line-height: 1.5;
}

.Rocket-Button {
  font-size: 1.2rem;
  background-color: rgb(32, 64, 248);
  color: #fff;
  border: skyblue;
}

.Rocket-Reserve {
  background-color: skyblue;
  color: white;
  padding: 2px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
}

.px-2 {
  flex-direction: row;
  display: flex;
  gap: 0.5rem;
  list-style: none;
  align-items: center;
}

.fs-5 {
  font-size: 0.8rem;
  font-weight: 700;
  color: #121212;
}

.fs-5 a {
  text-decoration: none;
}

.fs-5 a:active {
  text-decoration: underline blue;
  color: blue;
}

.fs-5 a:focus {
  text-decoration: underline blue;
  color: blue;
}

.fs-5 a:hover {
  color: blue;
}
